<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[HAX-WEB] 기술지원 만족도 조사</title>
</head>
<body style="font-family:'Malgun Gothic', '맑은 고딕';">
    안녕하십니까?<br><br>

    <b>본 메일은 소프트웨어 기술지원 협력사의 실적 확인 및 평가를 위하여 발송 되었습니다.</b><br><br>

    아래의 '조사 참여하기' 링크를 눌러 고객님의 요청업무 처리에 대한 <b>확인(동의/비동의)</b>과 지원에 대한 <b>만족도 조사</b>를 요청드립니다.<br>
    <b><a href="%s">조사 참여하기</a> (← 링크를 복사 후 듀온 사외영역에서 붙여넣기 하여 진행해 주시기 바랍니다. )</b><br><br>

    고객께서 확인 해주시고 전달해주신 의견은 <b>유지보수 서비스 품질향상을 위한 기초자료가 되며 협력사 기술지원 실적에 대한 근거자료로 활용</b>됩니다.<br><br>

    ※ 개인정보 보호법에 의거 시스템 사용을 위해 '개인정보수집 및 활용' 을 위한 동의 절차(최초 1회) 가 진행 되오니 참고 부탁드립니다.<br>
    ※ 문의사항 : HNIX MA지원팀 최윤경 책임 (TEL.052-202-9801)

</body>
</html>